@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
}

@layer components{
  .section-container {
    @apply px-16 py-8
  }

  .cell{
    @apply flex flex-col
  }

  .container{
    @apply grid grid-cols-4 gap-16 w-full h-10 max-sm:grid-cols-2 mt-8
  }

  .grid-cell{
    @apply flex flex-col justify-start items-center  rounded-xl py-16 border-2
  }
}